<ion-header no-border>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>VIMTO SOFT DRINK DISPENCER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="insert-coin">
    <div class="insert-coin1">INSERT COIN HERE</div>
    <div class="insert-coin2 s">
      <div class="insert-coin2-1" (click)="insertCoin()">
        <div class="insert-coin2-2">
        </div>
      </div>
    </div>
    <div class="insert-coin3"><span *ngIf="isInvalidCoin">COINS NOT VALID</span></div>
  </div>


  <div class="total-insert-coin">
    <div class="total-insert-coin1">TOTAL MONEY INSERTED</div>
    <div class="total-insert-coin3">MYR {{ coinValue | number: '1.2-2'}}</div>
  </div>


  <div class="drink-selection-table">
    <table>
      <tr>
        <th class="column1">SELECT DRINK BRAND BELOW</th>
        <th class="column2">PRICE</th>
        <th class="column3">
        </th>
        <th class="column4">PRESS TO SELECT</th>
      </tr>
      <tr *ngFor="let brand of brands">
        <td>
          {{ brand.name | uppercase }}
        </td>
        <td class="column2">
          MYR {{ brand.price | number: '1.2-2'}}
        </td>
        <td>
          <span *ngIf="selectBrand == brand">SELECTED</span>
          <span *ngIf="brand.quantity <= 0">BRAND UNAVAILABLE</span>
        </td>
        <td>
          <div class="drink-selection-button" (click)="selectDrink(brand)"></div>
        </td>
      </tr>
    </table>
  </div>


  <div class="no-charge-available">
    &nbsp;
    <span *ngIf="!isHaveChange">
      NO CHARGE AVAILABLE
    </span>
  </div>


  <div class="termination">
    <div class="termination1">
      <div class="termination-text">
        PRESS HERE TO RETURN CASH AND TERMINATE TRANSACTION HERE
      </div>
      <div class="termination2" (click)="terminateTransaction()">
        <div class="termination2-1">
          <div class="termination2-2">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="collect-change">
    <div class="collect-change1">COLLECT CHANGE/RETURNED CASH HERE
      <div class="collect-change2">
        <div class="collect-change2-1" (click)="collectChange()">
          <div class="collect-change2-2">
            MYR {{ returnCoinValue | number: '1.2-2'}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="collect-can">
    <div class="collect-can1">COLLECT CAN HERE
    </div>
    <div class="collect-can2">
      <div class="collect-can2-1">
        <div class="collect-can2-2" [innerHTML]="collectDrinkText" (click)="collectDrink()">
        </div>
      </div>
    </div>
  </div>
</ion-content>