<ion-header no-border>
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      VIMTO SOFT DRINK DISPENCER<br>
      <span class="subtitle">MAINTAINER CONTROL PANEL</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div class="type-password">
    <div class="type-password1">TYPE PASSWORD HERE</div>
    <input type="password" class="type-password2">
  </div>

  <div class="password-valid-not">
    <div class="password-valid-not1">
      <span>PASSWORD VALID</span>
    </div>
    <div class="password-valid-not2">
      <span>PASSWORD INVALID</span>
    </div>
  </div>

  <div class="coin-denomination">
    <div class="coin-denomination1">
      PRESS BELOW TO DETERMINE NUMBER OF COINS IN SELECTED DENOMINATION
    </div>
    <div class="coin-denomination2">
      <div class="coin-denomination2-1">MYR 0.10</div>
      <div class="coin-denomination2-2">MYR 0.20</div>
      <div class="coin-denomination2-3">MYR 0.50</div>
      <div class="coin-denomination2-4">MYR 1.00</div>
    </div>
    <div class="coin-denomination3">
      <div class="coin-denomination4">
        TOTAL NUMBER OF COINS IN SELECTED DENOMINATION
      </div>
      <div class="coin-denomination5">
        &nbsp;
      </div>
    </div>
  </div>
  <div class="drink-selection">
    <div class="drink-selection1">SELECT BRAND</div>
    <div class="drink-selection2">
      <div class="drink-selection2-1">BRAND 1</div>
      <div class="drink-selection2-2">MYR 0.70</div>
      <div class="drink-selection2-3">
        <div class="drink-selection2-3-1">
          &nbsp;
        </div>
      </div>
    </div>
    <div class="drink-selection3">
      <div class="drink-selection3-1">
        TYPE NEW DRINKS CAN PRICE HERE
      </div>
      <div class="drink-selection3-2">
        <input type="number">
      </div>
    </div>
  </div>

  <div class="total-cash-held">
    <div class="total-cash-held1">
      PRESS HERE TO DISPLAY TOTAL CASH HELD BY MACHINE
    </div>
    <div class="total-cash-held2">
      <div>
        MYR 1.00
      </div>
    </div>
  </div>


  <div class="press-to-collect-cash">
    <div class="press-to-collect-cash1">
      PRESS HERE TO CLLECT ALL CASH
    </div>
    <div class="press-to-collect-cash2">
      <div>
        &nbsp;
      </div>
    </div>
  </div>

  <div class="collect-cash-here">
    <div class="collect-cash-here1">
      COLLECT ALL CASH HERE
    </div>
    <div class="collect-cash-here2">
      <div>
        MYR 1.00
      </div>
    </div>
  </div>

  <div class="press-when-finish">
      <div class="press-when-finish1">
        PRESS HERE WHEN FINISHED
      </div>
      <div class="press-when-finish2">
        <div>
          &nbsp;
        </div>
      </div>
    </div>
</ion-content>