ion-header,
ion-content,
ion-footer {
  --ion-background-color: var(--ion-color-bg-rgb);
  background-color: var(--ion-color-bg-rgb);
}
ion-header div,
ion-footer div,
.background-color {
  background-color: var(--ion-color-bg-rgb);
  --background: var(--ion-color-bg-rgb);
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.ion-padding {
  --ion-safe-area-top: 20px;
  text-align: center;
  padding-top: calc(constant(safe-area-inset-top) + 15px);
  padding: 35px;
}
.action-option {
  width: calc(100% - 20px);
  margin: 25px auto;
  border: solid 1px black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60px;

  .title {
    padding: 10px 0 10px 10px;
    display: inline-block;
    width: calc(100% - 90px);
    height: 60px;
    vertical-align: middle;
  }
  .button {
    height: 60px;
    vertical-align: top;
    padding: 10px 0;
    text-align: center;
    border: solid 1px black;
    width: 90px;
    border-radius: 50px;
    display: inline-block;
    line-height: 40px;
  }
}
