<ion-content>
  <div class="ion-padding" ion-padding>
    SIMULATOR CONTROL PANEL
  </div>
  <div class="action-option">
    <div class="title">
      BEGIN SIMULATION
    </div>
    <div class="button">
      PRESS
    </div>
  </div>
  <div class="action-option">
    <div class="title">
      END SIMULATION
    </div>
    <div class="button">
      PRESS
    </div>
  </div>
  <div class="action-option">
    <div class="title">
      ACTIVATED CUSTOMER PANEL
    </div>
    <div class="button" (click)="activateCustomerPanel()">
      PRESS
    </div>
  </div>
  <div class="action-option">
    <div class="title">
      ACTIVATED MAINTAINER PANEL
    </div>
    <div class="button" (click)="activateMaintainerPanel()">
      PRESS
    </div>
  </div>
  <div class="action-option">
    <div class="title">
      ACTIVATED MACHINERY SIMULATOR
    </div>
    <div class="button" (click)="activateMachineryPanel()">
      PRESS
    </div>
  </div>
</ion-content>